.post {
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  border: 2px solid var(--darkListOutlineColor);
  box-shadow: 1px 5px 15px 0px black;
}

.dark-version .post {
  background: var(--darkBgColor);
  box-shadow: 1px 5px 15px 0px var(--darkMainColor);
  border: 1px solid var(--darkListOutlineColor);
  color: var(--darkColorPost);
}


.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
  font-weight: normal;
  color: rgb(65, 65, 65);
}

.dark-version .postDate {
  color: #999;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  background: #000;
  border-radius: 10px;
  border: 1px solid var(--darkMainColor);
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.reactIcon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
  margin-right: 5px;
}

.postLikeCounter {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}